@{
    ViewData["Title"] = "Snippet";
}

<div id="snippet" v-cloak>
    <div class="container-lg">
        <div class="row">
            <div class="col-10">
                <div class="row hidescroll" style="overflow-y: scroll; height: 80vh;">
                    <div class="card shadow">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-10">
                                    <div class="row">
                                        <h1>{{ snippet.title }}</h1>
                                    </div>
                                    <div class="row">
                                        <h6>Posted: {{snippet.creationDate}}</h6>   <h6 v-on:click="gotoUser(snippet)">Author: {{snippet.username}}</h6>
                                    </div>
                                </div>
                                <div class="col-2" style="text-align: right; margin: auto;">
                                    <div class="row">
                                        <i class="fas fa-arrow-up" style="text-align: center;" v-on:click="upvote(snippet)"></i>
                                    </div>
                                    <div class="row">
                                        <h4 style="text-align: center; margin: auto;">{{ snippet.upvotes - snippet.downvotes }}</h4>
                                    </div>
                                    <div class="row">
                                        <i class="fas fa-arrow-down" style="text-align: center;" v-on:click="downvote(snippet)"></i>
                                    </div>
                                </div>
                            </div>

                            <hr class="mr-3 ml-3 mt-3 mb-3"/>

                            <div class="row">
                                <div style="white-space: pre-wrap;">
                                    <div class="row"><p>{{snippet.description}}</p></div>
                                </div>
                                <div class="row">
                                    <div class="row mt-3">
                                        <div id="textarea_editor"></div>
                                    </div>
                                    <div class="row mt-3" v-if="snippet.tags.length != 0">
                                        Tags:&nbsp;
                                        <div class="mb-1" v-for="tag in snippet.tags" v-bind:key="snippet.id + '-' + tag.id" style="width: fit-content; padding-left: 0; padding-right: 10px;">
                                            <button type="button" :id="'tag-button-' + tag.id" class="btn btn-outline-primary btn-sm" disabled>{{ tag.tag }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0">Media heading</h5>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                                    <div class="media ml-3 mt-3">
                        
                                        <div class="media-body">
                                            <h5 class="mt-0">Media heading</h5>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <H2>Related</H2>
                        </div>
                        <div class="row">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr v-for="snip in relatedSnippets" v-bind:key="snippet.id">
                                        <td style="text-align: right;" scope="row">{{ snip.upvotes - snip.downvotes }}</td>
                                        <td v-on:click="navigateToSnippet(snip)">{{ snip.title }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
  <script src="~/js/snippet.js" asp-append-version="true"></script>
}
