<div id="home" v-cloak>
	<div class="container-lg" style="position: fixed;">
		<div class="row" style="height: 88vh;">
			<div class="col-2">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<a href="#">
								<H4 v-on:click="tagsDetails()">Tags</H4>
							</a>
						</div>
						<div class="row" style="padding-left: inherit !important;">
							<div class="mb-1" v-for="tag in tags" v-bind:key="tag" style="width: fit-content; padding-left: 0; padding-right: 5px;">
								<input type="checkbox" class="btn-check" :id="'tag-checkbox-' + tag" autocomplete="off" v-on:click="addTagFilter(tag)">
								<label class="btn btn-outline-primary btn-sm" :for="'tag-checkbox-' + tag">{{ tag }}</label>
							</div>
							<div class="mb-1" style="width: fit-content; padding-left: 0; padding-right: 10px;">
								<button type="button" class="btn btn-outline-primary btn-sm"  v-on:click="">Clear</button>
							</div>
						</div>
					</div>
				</div>
				<div class="card mt-3">
					<div class="card-body">
						<div class="row">
							<a href="#">
								<H4 v-on:click="languagesDetails()">Languages</H4>
							</a>
						</div>
						<div class="row" style="padding-left: inherit !important;">
							<div class="mb-1" v-for="language in languages" v-bind:key="language" style="width: fit-content; padding-left: 0; padding-right: 5px;">
								<input type="checkbox" class="btn-check mb-1" :id="'language-checkbox-' + language" autocomplete="off" v-on:click="addLanguageFilter(language)">
								<label class="btn btn-outline-primary btn-sm" :for="'language-checkbox-' + language">{{ language }}</label>
							</div>
							<div class="mb-1" style="width: fit-content; padding-left: 0; padding-right: 10px;">
								<button type="button" class="btn btn-outline-primary btn-sm"  v-on:click="">Clear</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-8">
				<div class="row hidescroll" style="overflow-y: scroll; height: 88vh;">
					<div class="card mb-3" v-if="searchTerm">
						<div class="card-body">
							<div class="row">
								<div class="col-12">
									<h5>Search: "{{ searchTerm }}"</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="card" style="border-bottom: 1px #333;">
						<div class="card-body">
							<div class="row">
								<div class="col-3">
									<h4>Snippets</h4>
								</div>
								<div class="col-9" style="text-align: right; margin: auto;">
									<div class="btn-group btn-group-sm" role="group">
										<button type="button" class="btn btn-primary" v-on:click="sortSnippets(1)">Hot</button>
										<button type="button" class="btn btn-primary" v-on:click="sortSnippets(2)">Popular</button>
										<button type="button" class="btn btn-primary" v-on:click="sortSnippets(3)">Contraversial</button>
										<button type="button" class="btn btn-primary" v-on:click="sortSnippets(4)">Week</button>
										<button type="button" class="btn btn-primary" v-on:click="sortSnippets(5)">Month</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card mt-3" v-for="snippet in filteredSnippets" v-bind:key="snippet.id">
						<div class="card-body">
							<div class="row">
								<div class="col-2" style="margin: auto;">
									<div class="row">
										<i class="fas fa-arrow-up" v-on:click="upvote(snippet)" style="text-align: center;"></i>
									</div>
									<div class="row">
										<h4 style="text-align: center; margin: auto;">{{ snippet.voteCount }}</h4>
									</div>
									<div class="row">
										<i class="fas fa-arrow-down" v-on:click="downvote(snippet)" style="text-align: center;"></i>
									</div>
								</div>
								<div class="col-10">
									<div class="row">
										<div class="col-8">
											<div class="row">
												<a  style="padding: 0;" :href="'@Url.Action("Snippet", "c")?id=' + snippet.id">
												<h4>{{ snippet.title }}</h4>
												</a>
											</div>
										</div>
										<div class="col-4">
											<div class="row">
												<a style="padding: 0;" :href="'@Url.Action("User", "c")?id=' + snippet.userID">Author: {{ snippet.userId }}</a>
											</div>
											<div class="row">
												Created: {{snippet.creationDate}}
											</div>
										</div>
									</div>
									<div class="row">
										Language:&nbsp;
										<div class="mb-1" style="width: fit-content; padding-left: 0; padding-right: 10px;">
											<button type="button" :id="'language-button-' + snippet.language" class="btn btn-outline-primary btn-sm"  v-on:click="languageDetails(snippet.language)">{{ snippet.language }}</button>
										</div>
									</div>
									<div class="row" v-if="snippet.tags.length != 0">
										Tags:&nbsp;
										<div class="mb-1" v-for="tag in snippet.tags" v-bind:key="snippet.id + '-' + tag" style="width: fit-content; padding-left: 0; padding-right: 10px;">
											<button type="button" :id="'tag-button-' + tag" class="btn btn-outline-primary btn-sm"  v-on:click="tagDetails(tag)">{{ tag }}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-2" style="height: 88vh;">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<H4>Trending</H4>
						</div>
						<div class="row" v-for="snippet in trendingSnippets" v-bind:key="snippet.id">
							<div class="col-3" style="margin: auto;">
								<button type="button" class="btn btn-outline-primary btn-sm" disabled style="width: 5vh;">{{ snippet.voteCount }}</button>
							</div>
							<div class="col-9">
								<a :href="'@Url.Action("Snippet", "c")?id=' + snippet.id">{{ snippet.title }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<info-modal id="info-modal" v-bind:type="infoModalType" v-bind:item="infoModalItem" v-bind:description="infoModalDescription" style="display: none"></info-modal>
	<filter-modal id="filter-modal" v-bind:type="filterModalType" v-bind:data="filterModalData" v-bind:selected="filterModalSelected" v-on:clicked="editFromModal" style="display: none"></filter-modal>
</div>
@section Scripts
{
<script src="~/js/infoModal.js" asp-append-version="true"></script>
<script src="~/js/filterModal.js" asp-append-version="true"></script>
<script src="~/js/home.js" asp-append-version="true"></script>
}
<script>var search = "@ViewBag.Search"</script>